/* src/app/header/header.component.css */
header {
  padding: 10px;
  background: rgb(255, 255, 255); /* Transparent background */
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px); /* Optional: add blur effect for better text readability */
  top: 0;
  left: 0;
}

.container {
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 80px; /* Adjust based on your desired logo size */
}

.logo-text {
  font-size: 14px; /* Adjust based on your desired text size */
  margin-left: 10px; /* Adjust based on your desired spacing */
}

.menu-icon {
  display: none; /* Hide menu icon by default */
}

.registration-text {
  font-size: 20px; /* Larger font size for registration text */
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
  .row.align-items-center {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center align items */
  }

  .col-md-3.col-sm-3.col-3,
  .col-md-6.col-sm-6.col-6 {
    width: 100%; /* Full width on smaller screens */
    text-align: center; /* Center align content */
    margin-bottom: 10px; /* Optional: Add spacing between columns */
  }

  .logo-text {
    font-size: 12px; /* Smaller font size for logo text */
    margin-left: 0; /* Remove left margin */
    margin-top: 5px; /* Optional: Add top margin */
  }

  .logo-img {
    max-height: 60px; /* Adjust logo image size */
  }

  .menu-icon {
    display: block; /* Display menu icon */
    font-size: 24px; /* Adjust icon size */
    cursor: pointer;
    margin-top: 5px; /* Optional: Adjust top margin */
    z-index: 1001;
  }
}