<header>   
    <div class="container">
        <div class="row align-items-center"> <!-- Added align-items-center for vertical alignment -->
            <div class="col-md-3 col-sm-3 col-3 d-flex align-items-center">
                <div class="logo">
                    <a routerLink="/"><img src="assets/Sikkim_govt.png" class="logo-img" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-center d-none d-sm-block">
                <div class="registration-text">
                    <strong class="center-text">Sainik Registration Form</strong><br><br>
                    <strong class="center-text">सैनिक पंजीकरण फॉर्म</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <div class="logo-text me-2"> <!-- Added margin to the right for spacing -->
                    <strong>Govt of India</strong>
                    <a routerLink="/"><img src="assets/indiaGovt.png" class="logo-img ms-2" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>