<div class="dash-entire">
  <header class="app-header">
    <app-header2></app-header2>
  </header>

  <div class="dash-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- Button to toggle the sidenav -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Welcome {{ username }}</h1>
        
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
      <!-- Sidenav definition with a template reference variable 'sidenav' -->
      <mat-sidenav #sidenav opened="true" mode="side" class="custom-sidenav">
        <mat-nav-list>
          <!-- Navigation items inside the sidenav with href attributes -->
          <a mat-list-item href="/home">Home</a>
          <a mat-list-item href="/about">About</a>
          <a *ngIf="userRole === 1" mat-list-item href="/register">Register</a>
          <a *ngIf="userRole === 2"  mat-list-item href="/user-register">User Register</a>
          
          <a mat-list-item href="/update-profile">Update Profile</a>
          <a *ngIf="userRole === 2"  mat-list-item href="/profile">Admin Profile</a>

          <a *ngIf="userRole === 1" mat-list-item href="/register">Register</a>
        </mat-nav-list>
      </mat-sidenav>
<mat-sidenav-content class="center-content">
  <div class="main-content">
    <div class="filter-section">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="search">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="slNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.first_name }} {{ element.last_name }} </td>
      </ng-container>

      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef> UID </th>
        <td mat-cell *matCellDef="let element"> {{ element.Id_ic }} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{ element.date_of_birth | date }} </td>
      </ng-container>

      <ng-container matColumnDef="corps">
        <th mat-header-cell *matHeaderCellDef> Corps </th>
        <td mat-cell *matCellDef="let element"> {{ element.service_details_corps }} </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="viewDetails(element)">View</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
    </table>

    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>

  <div *ngIf="selectedSainikDetails" class="details-container">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Personal Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="personalDetailsForm">
              <table mat-table [dataSource]="personalDetails" class="mat-elevation-z8">
                <ng-container matColumnDef="field">
                  <th mat-header-cell *matHeaderCellDef>Field</th>
                  <td mat-cell *matCellDef="let element">{{element.field}}</td>
                </ng-container>
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>Value</th>
                  <td mat-cell *matCellDef="let element">{{element.value}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
              </table>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Service Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="serviceDetailsForm">
              <table mat-table [dataSource]="serviceDetails" class="mat-elevation-z8">
                <ng-container matColumnDef="field">
                  <th mat-header-cell *matHeaderCellDef>Field</th>
                  <td mat-cell *matCellDef="let element">{{element.field}}</td>
                </ng-container>
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>Value</th>
                  <td mat-cell *matCellDef="let element">{{element.value}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
              </table>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Bank Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="bankDetailsForm">
              <table mat-table [dataSource]="bankDetails" class="mat-elevation-z8">
                <ng-container matColumnDef="field">
                  <th mat-header-cell *matHeaderCellDef>Field</th>
                  <td mat-cell *matCellDef="let element">{{element.field}}</td>
                </ng-container>
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>Value</th>
                  <td mat-cell *matCellDef="let element">{{element.value}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
              </table>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
</div>

<footer>
  <app-footer></app-footer>
</footer>
</div>
