.app-header {
  position: fixed; /* Ensure the header remains fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
}

.space {
  margin-top: 8px; /* Adjust as needed */
}

.dash-container {
  margin-top: 120px; 
  /* min-height: calc(100vh - 120px); Calculate minimum height to fill viewport */
}

.custom-sidenav {
  width: 250px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the wrapper takes full height of the viewport */
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* overflow-y: hidden; */
  background: #ffffff;
}

.main-content {
  width: 100%; /* Ensure content takes full width */
  max-width: 1500px; /* Adjust as needed */
  padding: 20px; /* Optional: Add padding */
  margin-bottom: auto;
}

.table-header {
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Make the font bold */
  background-color: #e1f5fe;
}

/* CSS for alternate row colors */
.mat-row:nth-child(odd) {
  background-color: white; /* Set the background color for odd rows */
}

.mat-row:nth-child(even) {
  background-color: #f0f0f0; /* Set the background color for even rows */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 800px) {
  .content-wrapper {
    flex-direction: column;
  }

  .main-content {
    order: 2;
    margin-top: 10px;
  }

  .additional-content {
    order: 1;
    width: 100%; /* Ensure it takes the full width */
    margin-bottom: 1vh;
  }
}