.app-header {
  position: fixed; /* Ensure the header remains fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
}

.dash-container {
  margin-top: 120px; /* Adjust margin top to accommodate the header height */
}
.sidenav_dash{
  width:20%;
}