.app-header {
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1000;  
}

.space {
  margin-top: 8px; /* Adjust as needed */
}
.large-space{
  margin-top: 40px; /* Adjust as needed */
}

.dash-container {
  min-height: 100%;
  /* margin-top: 200px; */
}

.custom-sidenav {
  width: 250px;
  background: #b4cbf0; 
}

.nav-bar{
  background:#e1f5fe;
}


::ng-deep .menu .nav-item:hover {
  background-color: #e1f5fe !important;
}

.side-nav-options {
  display: flex;
  align-items: center;
  width: 100%;
}

.side-nav-options mat-icon {
  margin-right: 8px; /* Add some space between the icon and the text */
  line-height: 1; /* Ensure the icon doesn't affect the line height */
  vertical-align: middle; /* Vertically align the icon in the middle */
}

.side-nav-options:hover{
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 6, 241);
  transition: 0.1s ease-in-out;
}

.mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.content-wrapper {
  flex-wrap: wrap; 
  width: 100%; 
  padding: 20px;
  box-sizing: border-box; 
}

.center-content {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background: #ffffff;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-width: 0; 
  width: 100%; 
  padding: 10px; 
  margin-bottom: auto;
}

.table-container{
  width: 100%; /* Ensure it takes full width */
  margin-bottom: 20px; /* Add some space between the search bar and the table */
}

.chart-header{
  font-size:larger;
}

.chart-container{
  flex: 1;
  min-width: 0; /* Prevent overflow */
  width: 30%; /* Ensure it takes full width */
  background-color: #e1f5fe;
  border-radius: 5%;
}

.graphs-container {
  display: flex;
  flex-direction: column; /* Stack graphs vertically */
  justify-content: center; /* Center graphs horizontally */
}

.table-header {
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Make the font bold */
  background-color: #e1f5fe;
}

/* CSS for alternate row colors */
.mat-row:nth-child(odd) {
  background-color: #FFFFFF; /* Set the background color for odd rows */
}

.mat-row:nth-child(even) {
  background-color: #F2F2F2; /* Set the background color for even rows */
}

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.profile-dash-content{
  height: 100%;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
}

.profile-container {
  text-align: center;
  min-width: 50vh; /* Adjust width as needed */
  width: 100%;
  min-height: 50%; /* Example: set a specific height */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.632); /* Add a subtle box-shadow for elevation */
  background-color: #e1f5fe;
  border-radius: 5%;
}

.center-title3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 10px;
}

.picture-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}


.img-preview {
  margin-top: 10px;
  max-width: 100%;
  max-height: 200px;
}

.profile-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: right; /* Align labels to the right within their flex container */
  font-size: larger;
}

.profile-value {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; /* Align values to the left within their flex container */
  
}

.details-container {
  width: 100vh;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.details-inside-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing between tiles */
}

.mat-grid-tile {
  flex: 1; /* Each tile takes equal space */
  min-width: 300px; /* Adjust minimum width of each tile */
  min-width: calc(33.33% - 100px); /* Adjust maximum width of each tile */
}

.mat-card {
  width: 100%; /* Ensure the card takes full width of its container */
  height: 100%; /* Ensure the card takes full height of its container */
}

.table{
  width: 100%;
  text-align: center;
}

.header-cell {
  background-color: #f0f8ff; /* Light blue background color */
  text-align: center; /* Center align text */
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center; /* align vertical */
}

.center-align {
  text-align: center;
  vertical-align: middle;
}

.center-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-title2{
  width: 100%;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
   background-color: aqua;
}


@media(max-width: 472px) {
  .profile-dash-content{
    height: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .profile-container {
    text-align: center;
    min-width: 40vh; /* Adjust width as needed */
    width: 100%;
    min-height: 50%; /* Example: set a specific height */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.632); /* Add a subtle box-shadow for elevation */
    background-color: white;
    border-radius: 5%;
  }
}