<div class="register-container">
  <h1>Register</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
      <label for="district">District:</label>
      <select class="form-control" id="district" name="district" formControlName="district">
        <option *ngFor="let district of districtChoices" [value]="district.value">{{ district.label }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>