<div class="full-screen">
  <div class="progress">
    <mat-progress-bar mode="determinate" [value]="calculateProgress()" color="primary"></mat-progress-bar>
  </div>
  <div class="card-container">
    <!-- Personal Details Card -->
    <mat-card *ngIf="currentCard === 1">
      <mat-card-title>Personal Details : </mat-card-title>
      <div class="space"></div>
      <form [formGroup]="personalDetailsForm">
        <div class="name">
        <mat-form-field [style.width.px]=250>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error *ngIf="personalDetailsForm.get('firstName')?.hasError('required')">
            First Name is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field [style.width.px]=250>
          <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middleName">
        </mat-form-field>
  
        <mat-form-field [style.width.px]=250>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error *ngIf="personalDetailsForm.get('lastName')?.hasError('required')">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>
        <mat-form-field>
          <mat-label>Unique ID</mat-label>
          <input matInput formControlName="uniqueId">
          <mat-error *ngIf="personalDetailsForm.get('uniqueId')?.hasError('required')">
            Unique ID is required
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.get('uniqueId')?.hasError('pattern')">
            Unique ID Invalid
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNumber">
          <mat-error *ngIf="personalDetailsForm.get('contactNumber')?.hasError('required')">
            Contact Number is required
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.get('contactNumber')?.hasError('pattern')">
            Invalid Contact Number
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Aadhar Number</mat-label>
          <input matInput formControlName="aadharNumber" (input)="formatAadharNumber()">
          <mat-error *ngIf="personalDetailsForm.get('aadharNumber')?.hasError('required')">
            Aadhar Number is required
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.get('aadharNumber')?.hasError('pattern')">
            Invalid Aadhar Number
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="personalDetailsForm.get('email')?.hasError('email')">
            Must be a valid email
          </mat-error>
        </mat-form-field>
  
        <div formGroupName="address" >
          <mat-form-field class="address">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
        </div>
  
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput formControlName="dateOfBirth">
          <mat-error *ngIf="personalDetailsForm.get('dateOfBirth')?.hasError('required')">
            Date of Birth is required
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.get('dateOfBirth')?.hasError('pattern')">
            Must be in DD/MM/YYYY format
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Alive/Expired</mat-label>
          <mat-select formControlName="aliveStatus">
            <mat-option value="Alive">Alive</mat-option>
            <mat-option value="Expired">Expired</mat-option>
          </mat-select>
          <mat-error *ngIf="personalDetailsForm.get('aliveStatus')?.hasError('required')">
            Status is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field *ngIf="showDateWhenExpired">
          <mat-label>Date When Expired</mat-label>
          <input matInput formControlName="dateWhenExpired">
          <mat-error *ngIf="personalDetailsForm.get('dateWhenExpired')?.hasError('required')">
            Date When Expired is required
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.get('dateWhenExpired')?.hasError('pattern')">
            Must be in DD/MM/YYYY format
          </mat-error>
        </mat-form-field>
  
        <button mat-button class="blue-button" (click)="submitCard(1)">Next</button>
      </form>
    </mat-card>
    
    <!-- Service Details Card -->
    <mat-card *ngIf="currentCard === 2">
      <mat-card-title>Service Details</mat-card-title>
      <div class="space"></div>
      <form [formGroup]="serviceDetailsForm">
  
        <mat-form-field>
          <mat-label>Commission</mat-label>
          <mat-select formControlName="commission" (selectionChange)="updateRanks(serviceDetailsForm.get('corps')?.value)" required>
            <mat-option *ngFor="let commission of commissionOptions" [value]="commission">{{ commission }}</mat-option>
          </mat-select>
          <mat-error *ngIf="serviceDetailsForm.get('commission')?.invalid && serviceDetailsForm.get('commission')?.touched">
            Commission is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Corps</mat-label>
          <mat-select formControlName="corps" required>
            <mat-option value="Indian Army">Indian Army</mat-option>
            <mat-option value="Indian Navy">Indian Navy</mat-option>
            <mat-option value="Indian Air Force">Indian Air Force</mat-option>
          </mat-select>
          <mat-error *ngIf="serviceDetailsForm.get('corps')?.invalid && serviceDetailsForm.get('corps')?.touched">
            Corps is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="dateOfEnrollment" placeholder="Date of Enrollment (DD/MM/YYYY)">
          <mat-error *ngIf="serviceDetailsForm.get('dateOfEnrollment')?.invalid && serviceDetailsForm.get('dateOfEnrollment')?.touched">
            Date of Enrollment must be in DD/MM/YYYY format
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="dateOfRetirement" placeholder="Date of Retirement (DD/MM/YYYY)">
          <mat-error *ngIf="serviceDetailsForm.get('dateOfRetirement')?.invalid && serviceDetailsForm.get('dateOfRetirement')?.touched">
            Date of Retirement must be in DD/MM/YYYY format
          </mat-error>
        </mat-form-field>
        <button mat-button class="blue-button" type="button" (click)="moveToPreviousCard()">Previous</button>
        <div class="space"></div>
        <button mat-button class="blue-button" (click)="submitCard(2)">Next</button>
      </form>
    </mat-card>
  
    <!-- Bank Details Card -->
  <mat-card *ngIf="currentCard === 3">
    <mat-card-title>Bank Details</mat-card-title>
    <div class="space"></div>
    <form [formGroup]="bankDetailsForm">
      <mat-form-field>
        <mat-label>PAN Number</mat-label>
        <input matInput formControlName="panNumber" maxlength="10" required>
        <mat-error *ngIf="bankDetailsForm.get('panNumber')?.hasError('pattern')">
          Invalid PAN Number format
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>IFSC Code</mat-label>
        <input matInput formControlName="ifscCode" required>
        <mat-error *ngIf="bankDetailsForm.get('ifscCode')?.hasError('pattern')">
          IFSC Code must contain only alphanumeric characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Account Type</mat-label>
        <mat-select formControlName="accountType" required>
          <mat-option *ngFor="let type of accountTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Account Number</mat-label>
        <input matInput formControlName="accountNumber" required>
        <mat-error *ngIf="bankDetailsForm.get('accountNumber')?.hasError('pattern')">
          Account Number must contain only numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>PPO Number</mat-label>
        <input matInput formControlName="ppoNumber" required>
        <mat-error *ngIf="bankDetailsForm.get('ppoNumber')?.hasError('pattern')">
          PPO Number must contain exactly 12 digits
        </mat-error>
      </mat-form-field>
      <button mat-button class="blue-button" type="button" (click)="moveToPreviousCard()">Previous</button>
      <div class="space"></div>
      <button mat-button class="blue-button" (click)="submitCard(3)">Next</button>
    </form>
  </mat-card>
  
  <!-- Family Details Card -->
  <mat-card *ngIf="currentCard === 4">
    <mat-card-title>Family Details</mat-card-title>
    <form [formGroup]="familyDetailsForm">
        <div>
          <div formGroupName="nextOfKin">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="Enter first name">
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder="Enter last name">
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Relation</mat-label>
              <mat-select formControlName="relation">
                <mat-option *ngFor="let relation of relationOptions" [value]="relation">{{ relation }}</mat-option>
              </mat-select>
              <mat-error *ngIf="familyDetailsForm.get('nextOfKin.relation')?.hasError('required')">
                Relation is required
              </mat-error>
            </mat-form-field>
          </div>
          
          <div formArrayName="dependents">
            <div *ngFor="let dependent of dependents.controls; let i = index" [formGroupName]="i">
              <mat-card>
                <mat-card-title>Dependent {{ i + 1 }}</mat-card-title>
                <div>
                  <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="Enter first name">
                  </mat-form-field>
    
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Enter last name">
                  </mat-form-field>
    
                  <mat-form-field>
                    <mat-label>Relation</mat-label>
                    <mat-select formControlName="relation">
                      <mat-option *ngFor="let relation of relationOptions" [value]="relation">{{ relation }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="familyDetailsForm.get('dependents.' + i + '.relation')?.hasError('required')">
                      Relation is required
                    </mat-error>
                  </mat-form-field>
    
                  <button mat-icon-button (click)="removeDependent(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card>
            </div>
          </div>
          <button mat-button (click)="addDependent()">Add Dependent</button>
        </div>
        <button mat-button type="button" (click)="moveToPreviousCard()">Previous</button>
        <button mat-button (click)="submitCard(4)">Next</button>
    </form>
  </mat-card>
  
  <!-- Additional Details Card -->
  <mat-card *ngIf="currentCard === 5">
    <mat-card-title>Additional Details</mat-card-title>
    <form [formGroup]="additionalDetailsForm">
      <!-- Existing fields -->
  
      <!-- Service Certifications -->
      <div formArrayName="serviceCertifications">
        <div *ngFor="let certification of serviceCertifications.controls; let i = index" [formGroupName]="i"></div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Place</mat-label>
            <input matInput formControlName="place">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date">
          </mat-form-field>
          <button mat-icon-button (click)="removeServiceCertification(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      <button mat-button (click)="addServiceCertification()">Add Service Certification</button>
  
      <!-- Civil Certifications -->
      <div formArrayName="civilCertifications">
        <div *ngFor="let certification of civilCertifications.controls; let i = index" [formGroupName]="i"></div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Place</mat-label>
            <input matInput formControlName="place">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date">
          </mat-form-field>
          <button mat-icon-button (click)="removeCivilCertification(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      <button mat-button (click)="addCivilCertification()">Add Civil Certification</button>
  
      <!-- Service Awards -->
      <div formArrayName="serviceAwards">
        <div *ngFor="let award of serviceAwards.controls; let i = index" [formGroupName]="i"></div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date">
          </mat-form-field>
          <button mat-icon-button (click)="removeServiceAward(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      <button mat-button (click)="addServiceAward()">Add Service Award</button>
  
      <!-- Civil Awards -->
      <div formArrayName="civilAwards">
        <div *ngFor="let award of civilAwards.controls; let i = index" [formGroupName]="i"></div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date">
          </mat-form-field>
          <button mat-icon-button (click)="removeCivilAward(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      <button mat-button (click)="addCivilAward()">Add Civil Award</button>
  
      <!-- Remarks -->
      <mat-form-field>
        <mat-label>Remarks</mat-label>
        <input matInput formControlName="remarks">
      </mat-form-field>
  
      <button mat-button type="button" (click)="moveToPreviousCard()">Previous</button>
      <button mat-button (click)="submitCard(5)">Next</button>
    </form>
  </mat-card>
  </div>
  </div>