.full-screen{
  height: 100vh; /* Use full viewport height */
}

.end-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Full viewport height to center vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  padding: 20px; /* Add padding to ensure shadow is not cut off */
  border-radius: 8px; /* Optionally, add rounded corners */
  background-color: #fbfafa6c; /* Optional: add background color to make shadow visible */
  width: 80%; /* Set width to a percentage of the viewport */
  max-width: 400px; /* Set maximum width for responsiveness */
  margin: 0 auto;
  margin-top: 100px;
}
.center-content {
  text-align: center;
}

.button-container {
  margin-top: 20px; /* Add some space between the text and the buttons */
}

.button-container button {
  background-color: rgb(0, 138, 184); /* Blue background for the buttons */
  color: white; /* White text for the buttons */
  border: none; /* Remove the default border */
  margin: 10px ;
  border-radius: 4px; /* Slightly round the corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.button-container button:hover {
  background-color: darkblue; /* Darker blue on hover */
}


.parent-cardcontainer{
  margin-top: 100px;

}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content; 
  box-sizing: border-box;
  width: 100%;
}



@media (max-width: 800px) {
  .card-container {
    flex-direction: column; /* Stack items vertically */
    height: auto; /* Let the height adjust based on content */
    padding: 20px; /* Add some padding */
    margin-top: auto;
    /* margin-bottom: 100vh; */
  }
}
@media (max-width: 600px) {
  .card-container {
    flex-direction: column; /* Stack items vertically */
    height: 150vh; /* Let the height adjust based on content */
    padding: 20px; /* Add some padding */
    margin-top: auto;
    /* margin-bottom: 100vh; */
  }
}
@media (max-width: 800px) {
  .full-screen{
    margin-top: 200px;
  }
}

.responsive-card {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

mat-card {
  width: 100%; /* Take full width */
  max-width: 800px; /* Limit max width if needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure form takes full width */
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%; /* Ensure form fields take full width */
}

.mat-select {
  width: 100%; /* Ensure the mat-select takes the full width */
}

.mat-error {
  font-size: 12px; /* Custom font size for error message */
  color: #f44336; /* Custom color for error message */
}

input.mat-input-element {
  width: 100%; /* Ensure input fields take full width */
  max-width: 60px; /* Adjust max-width of input fields */
}


.centered-subtitle {
  text-align: center;
  display: block; /* Ensures it takes up the full width */
  width: 100%; /* Ensures the block takes up the full width */
  font-size:larger;
}

::ng-deep mat-card-title {
  background-color: rgb(0, 138, 184);
  color: white;
  padding: 10px; /* Optional: to add some padding around the text */
  width: 100%;
}

.three-items{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.two-items{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.one-item{

}

.progress{
  margin-top: 20px;
  margin-bottom: -70px;
}

.space{
  padding: 5px;
}

.large-space{
  padding: 10px;
}



::ng-deep .blue-button {
  margin: 5px;
  background-color: rgb(0, 138, 184) !important;
  color: white !important; /* Ensures the text is readable against the blue background */
}
::ng-deep .blue-button:hover {
  background-color: darkblue !important; /* Optional: A darker blue for the hover state */
}

.form-width1{
  width: 240px;
}

.form-width2{
  width: 360px;
}

.form-width3{
  width: 740px;
}
/* .name-form-field {
  width: 500px;
} */
/* .responsive-form-field {
  width: 500px;
}
@media (max-width: 768px) {
  .responsive-form-field {
      width: 100%; 
  }
} */

@media screen and (max-width: 800px) {
  .three-items {
    flex-direction: column;
    align-items: center;
  }

  .two-items{
    flex-direction: row;
    align-items: center;
  }

  .form-width1 {
    width: 550px;
  }
  .form-width2 {
    width: 250px; /* Ensure form fields take the full width on small screens */
  }

  .form-width3{
    width: 250px;
  }
}

@media screen and (max-width: 600px) {

  .three-items {
    flex-direction: column;
    align-items: center;
  }

  .two-items{
    flex-direction: column;
    align-items: center;
  }

  .form-width1 {
    width: 250px;
  }
  .form-width2 {
    width: 250px; /* Ensure form fields take the full width on small screens */
  }

  .form-width3{
    width: 250px;
  }
}

.mat-elevation-z8 {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* Center the table */
  height: 10vh;
}

.mat-cell, .mat-header-cell {
  padding: 4px 8px; /* Adjust as needed */
  font-size: 12px; /* Adjust as needed */
}

/* Reduce padding for the buttons */
button.mat-icon-button {
  padding: 4px; /* Adjust as needed */
}

/* Reduce the size of the icon */
.mat-icon {
 
font-size: 16px; /* Adjust as needed */
}

/* Optional: Adjust table row height */
.mat-row, .mat-header-row {
  height: 32px; /* Adjust as needed */
}

/* Reduce the space between elements */
.space {
  margin-top: 8px; /* Adjust as needed */
}


.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.table-container {
  margin: 0 auto; /* Center the table horizontally */
  text-align: center; 
}

.center-text {
  text-align: center; /* Center align text in table headers and cells */
}

.table-header {
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Make font bold */
  text-align: center; /* Center align text in header cells */
}

.header-row {
  background-color: #e1f5fe; /* Light blue background color */
}

.row-white {
  background-color: white;
}

.row-light-blue {
  background-color: #e1f5fe;
}

.value-cell {
  padding-left: 1px; /* Adjust this value as needed */
}


table{
  width: 100%;
 }



 .mat-column-field{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
 }

 .mat-column-value{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
 }

.hidden {
  display: none;
}

.done-footer{
  min-width: 100vh;
  align-items: center;
}

.red{
  color: #f44336;
}

.center-buttons {
  text-align: center; /* Center align content horizontally */
  margin-bottom: 20px; /* Adjust margin as needed */
  margin-bottom: 70px;
}