<app-header3></app-header3>
  

<div class="parent-cardcontainer">
  <mat-stepper class="full-screen custom-stepper" #stepper linear>
    <!-- Personal Details Form Step -->
    <mat-step [stepControl]="personalDetailsForm">
      <div class="form-height">
      <form [formGroup]="personalDetailsForm" class="card-container">
        <!-- <ng-template matStepLabel>Personal Details</ng-template> -->
        <ng-template matStepLabel *ngIf="!isSmallScreen">Personal Details</ng-template>
        <div class="card">
        <mat-card>
          <mat-card-title>Personal Details</mat-card-title>
          <div class="space"></div>
          <div class="three-items">
            <mat-form-field class="form-width1">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('firstName')?.hasError('required')
                "
              >
                First Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width1">
              <mat-label>Middle Name</mat-label>
              <input matInput formControlName="middleName" />
            </mat-form-field>
            <mat-form-field class="form-width1">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('lastName')?.hasError('required')
                "
              >
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>Unique ID</mat-label>
              <input matInput formControlName="uniqueId" />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('uniqueId')?.hasError('required')
                "
              >
                Unique ID is required
              </mat-error>
              <mat-error
                *ngIf="personalDetailsForm.get('uniqueId')?.hasError('pattern')"
              >
                Unique ID Invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width2">
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="contactNumber" />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('contactNumber')?.hasError('required')
                "
              >
                Contact Number is required
              </mat-error>
              <mat-error
                *ngIf="
                  personalDetailsForm.get('contactNumber')?.hasError('pattern')
                "
              >
                Invalid Contact Number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>Aadhar Number</mat-label>
              <input
                matInput
                formControlName="aadharNumber"
                (input)="formatAadharNumber()"
              />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('aadharNumber')?.hasError('required')
                "
              >
                Aadhar Number is required
              </mat-error>
              <mat-error
                *ngIf="
                  personalDetailsForm.get('aadharNumber')?.hasError('pattern')
                "
              >
                Invalid Aadhar Number
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width2">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="personalDetailsForm.get('email')?.hasError('email')"
              >
                Must be a valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="two-items">
            <div formGroupName="address" class="form-width2">
              <mat-form-field class="form-width2">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" />
              </mat-form-field>
            </div>
            <div formGroupName="address" class="form-width2">
              <mat-form-field class="form-width2">
                <mat-label>Village/Town/City</mat-label>
                <input matInput formControlName="address2" />
              </mat-form-field>
            </div>
            <mat-form-field class="form-width2">
              <mat-label>District</mat-label>
              <mat-select formControlName="district" required>
                <mat-option
                  *ngFor="let district of districtChoices"
                  [value]="district.value">
                  {{ district.label }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  personalDetailsForm.get('district')?.hasError('required')">
                District is required
              </mat-error>
            </mat-form-field>
            <div formGroupName="address" class="form-width2">
              <mat-form-field class="form-width2">
                <mat-label>PIN-Code</mat-label>
                <input matInput formControlName="pin" />
              </mat-form-field>
            </div>
          </div>
          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                formControlName="dateOfBirth"
                placeholder="YYYY-MM-DD"
              />
              <mat-error
                *ngIf="
                  personalDetailsForm.get('dateOfBirth')?.hasError('required')
                "
              >
                Date of Birth is required
              </mat-error>
              <mat-error
                *ngIf="
                  personalDetailsForm.get('dateOfBirth')?.hasError('pattern')
                "
              >
                Must be in YYYY-MM-DD format
              </mat-error>
            </mat-form-field>


            <mat-form-field class="form-width2">
              <mat-label>Alive/Expired</mat-label>
              <mat-select
                formControlName="aliveStatus"
                (selectionChange)="
                  showDateWhenExpired =
                    personalDetailsForm.get('aliveStatus')?.value === 'Expired'
                ">
                <mat-option value="Alive">Alive</mat-option>
                <mat-option value="Expired">Expired</mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  personalDetailsForm.get('aliveStatus')?.hasError('required')
                "
              >
                Status is required
              </mat-error>
            </mat-form-field>



          </div>
          <mat-form-field *ngIf="showDateWhenExpired">
            <mat-label>Date When Expired</mat-label>
            <input
              matInput
              formControlName="dateWhenExpired"
              placeholder="YYYY-MM-DD"
            />
            <mat-error
              *ngIf="
                personalDetailsForm.get('dateWhenExpired')?.hasError('required')
              "
            >
              Date When Expired is required
            </mat-error>
            <mat-error
              *ngIf="
                personalDetailsForm.get('dateWhenExpired')?.hasError('pattern')
              "
            >
              Must be in YYYY-MM-DD format
            </mat-error>
          </mat-form-field>




        </mat-card>
      </div>
        <div class="space"></div>
        <div>
          <button mat-button matStepperNext class="blue-button">Next</button>
        </div>
      </form>
    </div>
    </mat-step>

    <!-- Service Details Form Step -->
    <mat-step [stepControl]="serviceDetailsForm">
      <div class="form-height">
        <form [formGroup]="serviceDetailsForm" class="card-container">
          <ng-template matStepLabel>Service Details</ng-template>
          <div class="card">
          <mat-card>
            <mat-card-title>Service Details</mat-card-title>
            <div class="space"></div>
            <div class="three-items">
              <mat-form-field class="form-width1">
                <mat-label>Rank</mat-label>
                <mat-select
                  formControlName="commission"
                  (selectionChange)="
                    updateRanks(serviceDetailsForm.get('corps')?.value)
                  "
                  required
                >
                  <mat-option
                    *ngFor="let commission of commissionOptions"
                    [value]="commission.value"
                  >
                    {{ commission.label }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    serviceDetailsForm.get('commission')?.invalid &&
                    serviceDetailsForm.get('commission')?.touched
                  "
                >
                  Commission is required
                </mat-error>
              </mat-form-field>


              <mat-form-field class="form-width1">
                <mat-label>Corps</mat-label>
                <mat-select formControlName="corps" (selectionChange)="showUnit = serviceDetailsForm.get('corps')?.value === 1" required>
                  <mat-option *ngFor="let corps of corpsOptions" [value]="corps.value">
                    {{ corps.label }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="serviceDetailsForm.get('corps')?.invalid && serviceDetailsForm.get('corps')?.touched">
                  Corps is required
                </mat-error>
              </mat-form-field>
            

            <mat-form-field *ngIf="showUnit" class="form-width1">
              <mat-label>Unit/Paltan</mat-label>
              <input matInput formControlName="unit" placeholder="Enter Unit/Paltan">
              <mat-error *ngIf="serviceDetailsForm.get('unit')?.hasError('required')">
                Unit/Paltan is required
              </mat-error>
            </mat-form-field>
          </div>


            <div class="two-items">
              <mat-form-field class="form-width2">
                <input
                  matInput
                  formControlName="dateOfEnrollment"
                  placeholder="Date of Enrollment YYYY-MM-DD"
                />
                <mat-error
                  *ngIf="
                    serviceDetailsForm.get('dateOfEnrollment')?.invalid &&
                    serviceDetailsForm.get('dateOfEnrollment')?.touched
                  "
                >
                  Date of Enrollment must be in YYYY-MM-DD format
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-width2">
                <input
                  matInput
                  formControlName="dateOfRetirement"
                  placeholder="Date of Retirement YYYY-MM-DD"
                />
                <mat-error
                  *ngIf="
                    serviceDetailsForm.get('dateOfRetirement')?.invalid &&
                    serviceDetailsForm.get('dateOfRetirement')?.touched
                  "
                >
                  Date of Retirement must be in YYYY-MM-DD format
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
          <div class="space"></div>
          <div>
            <button mat-button matStepperPrevious class="blue-button">
              Back
            </button>
            <button mat-button matStepperNext class="blue-button">Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <!-- Bank Details Form Step -->
    <mat-step [stepControl]="bankDetailsForm">
      <div class="form-height">
      <form [formGroup]="bankDetailsForm" class="card-container">
        <ng-template matStepLabel>Bank Details</ng-template>
        <div class="card">
        <mat-card>
          <mat-card-title>Bank Details</mat-card-title>
          <div class="space"></div>
          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>PAN Number</mat-label>
              <input
                matInput
                formControlName="panNumber"
                maxlength="10"
                required
              />
              <mat-error
                *ngIf="bankDetailsForm.get('panNumber')?.hasError('pattern')"
              >
                Invalid PAN Number format
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width2">
              <mat-label>Pension Account Type</mat-label>
              <mat-select formControlName="accountType" required>
                <mat-option *ngFor="let type of accountTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>IFSC Code</mat-label>
              <input matInput formControlName="ifscCode" required />
              <mat-error
                *ngIf="bankDetailsForm.get('ifscCode')?.hasError('pattern')"
              >
                IFSC Code must contain only alphanumeric characters
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width2">
              <mat-label>Bank Name with IFSC</mat-label>
              <input matInput formControlName="bankName" />
            </mat-form-field>
           
          </div>
          <div class="two-items">
            <mat-form-field class="form-width2">
              <mat-label>Pension Account Number</mat-label>
              <input matInput formControlName="accountNumber" required />
              <mat-error
                *ngIf="
                  bankDetailsForm.get('accountNumber')?.hasError('pattern')
                "
              >
                Account Number must contain only numbers
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width2">
              <mat-label>PPO Number</mat-label>
              <input matInput formControlName="ppoNumber" required />
              <mat-error
                *ngIf="bankDetailsForm.get('ppoNumber')?.hasError('pattern')"
              >
                PPO Number must contain exactly 12 digits
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
        </div>
        <div class="space"></div>
        <div>
          <button mat-button matStepperPrevious class="blue-button">
            Back
          </button>
          <button mat-button matStepperNext class="blue-button">Next</button>
        </div>
      </form>
      </div>
    </mat-step>

    <!--Family Details Form-->
    <mat-step [stepControl]="familyDetailsForm">
      <div class="form-height">
        <form [formGroup]="familyDetailsForm" class="card-container">
          <ng-template matStepLabel>Family Details</ng-template>
          <div class="card">
          <mat-card>
            <mat-card-title>Family Details</mat-card-title>
            <div class="space"></div>
            <div formGroupName="nextOfKin" class="three-items">
              <mat-form-field class="form-width1">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  formControlName="firstName"
                  placeholder="Enter first name"
                />
              </mat-form-field>
  
              <mat-form-field class="form-width1">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  formControlName="lastName"
                  placeholder="Enter last name"
                />
              </mat-form-field>
  
              <mat-form-field class="form-width1">
                <mat-label>Relation</mat-label>
                <mat-select formControlName="relation">
                  <mat-option
                    *ngFor="let relation of relationOptions"
                    [value]="relation.value"
                    >{{ relation.label }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="
                    familyDetailsForm
                      .get('nextOfKin.relation')
                      ?.hasError('required')
                  "
                >
                  Relation is required
                </mat-error>
              </mat-form-field>
            </div>
  
            <div formArrayName="dependents">
              <div *ngFor="let dependent of dependents.controls; let i = index" [formGroupName]="i">
                <mat-card>
                  <mat-card-title>Dependent {{ i + 1 }}</mat-card-title>
                  <div class="space"></div>
                  <div class="three-items">
                    <mat-form-field  class="form-width4">
                      <mat-label>First Name</mat-label>
                      <input
                        matInput
                        formControlName="firstName"
                        placeholder="Enter first name"
                      />
                    </mat-form-field>
          
                    <mat-form-field  class="form-width4">
                      <mat-label>Last Name</mat-label>
                      <input
                        matInput
                        formControlName="lastName"
                        placeholder="Enter last name"
                      />
                    </mat-form-field>
          
                    <mat-form-field  class="form-width4">
                      <mat-label>Relation</mat-label>
                      <mat-select formControlName="relation">
                        <mat-option
                          *ngFor="let relation of relationOptions"
                          [value]="relation.value"
                          >{{ relation.label }}</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="dependents.at(i).get('relation')?.hasError('required')"
                      >
                        Relation is required
                      </mat-error>
                    </mat-form-field>
          
                    <button mat-icon-button (click)="removeDependent(i)" class="red-bg">
                      <mat-icon class="delete">delete</mat-icon>
                    </button>
                  </div>
                </mat-card>
              </div>
            </div>        
            <div class="space"></div>
            <button mat-button (click)="addDependent()" class="blue-button">Add Dependent</button>
          </mat-card>
          </div>
          <div class="space"></div>
            <div>
              <button mat-button matStepperPrevious class="blue-button">
                Back
              </button>
              <button
                mat-button
                matStepperNext
                class="blue-button"
                >
                Next
              </button>
            </div>
        </form>
      </div>
    </mat-step>

    <!--Additional Details Form-->
    <mat-step [stepControl]="additionalDetailsForm">
      <div class="form-height">
      <form [formGroup]="additionalDetailsForm" class="card-container">
        <ng-template matStepLabel>Additional Details</ng-template>
        <div class="card">
        <mat-card>
          <mat-card-title>Additional Details</mat-card-title>
          <div class="space"></div>
          <form [formGroup]="additionalDetailsForm">
            <div class="three-items">
            <mat-form-field class="form-width1">
              <mat-label>Canteen Smart Card</mat-label>
              <mat-select formControlName="canteenSmartCard" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-width1">
              <mat-label>ECHS</mat-label>
              <mat-select formControlName="echs" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-width1">
              <mat-label>COI</mat-label>
              <mat-select
                formControlName="coi"
                (selectionChange)="
                  showResCert = additionalDetailsForm.get('coi')?.value === 'No'
                ">
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="showResCert" class="form-width1">
              <mat-label>Resident Certificate</mat-label>
              <mat-select formControlName="residentCertificate" required>
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>            
          </div>

          <div class="three-items">
            <mat-form-field class="form-width1">
              <mat-label>ESM Numbet</mat-label>
              <input matInput formControlName="esm" placeholder="ESM Number">
            </mat-form-field>

          <mat-form-field class="form-width1">
            <mat-label>ESM Issue Date</mat-label>
            <input matInput formControlName="esmdate" placeholder="ESM Issue Date">
          </mat-form-field>

          <mat-form-field class="form-width1">
            <mat-label>ESM Issue Place</mat-label>
            <mat-select formControlName="esmplace">
                <mat-option *ngFor="let option of placeofissue" [value]="option.value">
                    {{ option.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>

            <div class="two-items">
              <mat-form-field class="form-width2">
                <mat-label>Highest Education</mat-label>
                <mat-select
                    formControlName="education"
                    (selectionChange)="onEducationChange()">
                    <mat-option *ngFor="let option of highestQualifications" [value]="option.value">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field *ngIf="showEducation" class="form-width2">
              <mat-label>Education Details</mat-label>
              <input matInput formControlName="educationDetails" placeholder="Enter Education Details">
              <mat-error *ngIf="additionalDetailsForm.get('educationDetails')?.hasError('required')">
                Education details are required
              </mat-error>
            </mat-form-field>
          </div>



            <div>
              <h3>Certificates</h3>
            </div>            
            <!-- Service Certifications -->
            <div class="row">
              <form [formGroup]="certificationForm" enctype="multipart/form-data">
                <div formArrayName="serviceCertifications">
                  <div *ngFor="let certification of serviceCertifications.controls; let i = index" [formGroupName]="i">
                    <input type="file" (change)="onFileChange($event, i)" accept="image/*" />
                    <br />
                    <mat-form-field>
                      <mat-label>Date in YYYY-MM-DD</mat-label>
                      <input matInput formControlName="date" placeholder="" />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="remarks" />
                    </mat-form-field>
                    <button mat-button color="warn" (click)="removeService(i)">Delete</button>
                  </div>
                </div>
            
                <div *ngIf="serviceCertifications.controls.length > 0">
                  <button (click)="showServicePreview()">Preview</button>
                </div>
            
                <div *ngIf="isServicePreviewVisible">
                  <div *ngFor="let preview of serviceImagePreviews; let i = index">
                    <div>
                      <img [src]="preview.image" alt="Image Preview" width="200" />
                      <p>Date: {{ preview.date }}</p>
                      <p>Remarks: {{ preview.remarks }}</p>
                      <button (click)="openService(preview)">Open Image New Tab</button>
                    </div>
                  </div>
                </div>
              </form>
            
              <div class="space"></div>
              <button mat-button (click)="addServiceCertification()">Add Service Certification</button>
            </div>
            
            <!-- Civil Certifications -->
            <div class="row">
              <form [formGroup]="civilcertificationForm">
              <div formArrayName="civilCertifications">
                <div *ngFor="let certification of civilCertifications.controls; let i = index" [formGroupName]="i">
                  <input type="file" (change)="onCivilFileChange($event, i)" accept="image/*" />
                  <br />
                  <mat-form-field>
                    <mat-label>Date in YYYY-MM-DD</mat-label>
                    <input matInput formControlName="date" placeholder="" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks" />
                  </mat-form-field>
                  <button mat-button color="warn" (click)="removeCivil(i)">Delete</button>
                </div>
              </div>
            </form>
            
              <div *ngIf="civilCertifications.controls.length > 0">
                <button (click)="showCivilPreview()">Preview</button>
              </div>
            
              <div *ngIf="isCivilPreviewVisible">
                <div *ngFor="let preview of civilImagePreviews; let i = index">
                  <div>
                    <img [src]="preview.image" alt="Image Preview" width="200" />
                    <p>Date: {{ preview.date }}</p>
                    <p>Remarks: {{ preview.remarks }}</p>
                    <button (click)="openCivilInNewTab(preview)">Open Image New Tab</button>
                  </div>
                </div>
              </div>
            
              <div class="space"></div>
              <button mat-button (click)="addCivilCertification()">Add Civil Certification</button>
            </div>
            
            <!--AWARDS-->
            <h3>Awards</h3>
            <div class="row">
              <form [formGroup]="awarddetails">
              <div formArrayName="awards">
                <div *ngFor="let award of awards.controls; let i = index" [formGroupName]="i">
                  <input type="file" (change)="onFilesSelected($event, i)" accept="image/*" multiple />
                  <br />
                  <mat-form-field>
                    <mat-label>Date in YYYY-MM-DD</mat-label>
                    <input matInput formControlName="date" placeholder="" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks" />
                  </mat-form-field>
                  <button mat-button color="warn" (click)="removeAward(i)">Delete</button>
                </div>
              </div>
            </form>
  
              <div *ngIf="awards.controls.length > 0">
                <button (click)="showPreview()">Preview</button>
              </div>
  
              <div *ngIf="isPreviewVisible">
                <div *ngFor="let preview of imagePreviews; let i = index">
                  <div>
                    <img [src]="preview.image" alt="Image Preview" width="200" />
                    <p>Date: {{ preview.date }}</p>
                    <p>Remarks: {{ preview.remarks }}</p>
                    <button (click)="openInNewTab(preview)">Open Image New Tab</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="space"></div>
            <button mat-button (click)="addAwards()">Add Award</button>
            
            

            
            <!-- Remarks -->
            <mat-form-field>
              <mat-label>Remarks</mat-label>
              <input matInput formControlName="remarks" />
            </mat-form-field>
          </form>
          <div>
            <button mat-button matStepperPrevious class="blue-button">
              Back
            </button>
            <button
              mat-button
              matStepperNext
              class="blue-button"
              (click)="getSummaryData()"
            >
              Next
            </button>
          </div>
        </mat-card>
        </div>
      </form>
      </div>
    </mat-step>

    <!-- Review Step -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="space"></div>
      <p class="red"><strong>Please Review Your Details.</strong></p>
      <div class="space"></div>
      <!-- Review Personal Details Card -->
      <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title class="review-title">Personal Details</mat-card-title>
        </mat-card-header>
        <div class="space"></div>
        <mat-card-content class="table">
          <table class="details-table">
            <thead>
              <tr>
                <th class="table-heading">Fields</th>
                <th class="table-heading">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of getPersonalDetails()">
                <td class="field-name">{{ detail.field }}:</td>
                <td class="field-value">{{ detail.value }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <div class="space"></div>
      <!-- Review Service Details Card -->
      <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title class="review-title">Service Details</mat-card-title>
        </mat-card-header>
        <div class="space"></div>
        <mat-card-content class="table">
          <table class="details-table">
            <thead>
              <tr>
                <th class="table-heading">Fields</th>
                <th class="table-heading">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of getServiceDetails()">
                <td class="field-name">{{ detail.field }}:</td>
                <td class="field-value">{{ detail.value }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <div class="space"></div>
      <!-- Review Bank Details Card -->
      <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title class="review-title">Bank Details</mat-card-title>
        </mat-card-header>
        <div class="space"></div>
        <mat-card-content class="table">
          <table class="details-table">
            <thead>
              <tr>
                <th class="table-heading">Fields</th>
                <th class="table-heading">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of getBankDetails()">
                <td class="field-name">{{ detail.field }}:</td>
                <td class="field-value">{{ detail.value }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <div class="space"></div>
      <!-- Review Family Details Card -->
      <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title class="review-title">Family Details</mat-card-title>
        </mat-card-header>
        <div class="space"></div>
        <mat-card-content class="table">
          <table class="details-table">
            <thead>
              <tr>
                <th class="table-heading">Fields</th>
                <th class="table-heading">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of getFamilyDetails()">
                <td class="field-name">{{ detail.field }}:</td>
                <td class="field-value">{{ detail.value }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <div class="space"></div>
      <!-- Review Additional Details Card -->
      <mat-card class="review-card">
        <mat-card-header>
          <mat-card-title class="review-title">Additional Details</mat-card-title>
        </mat-card-header>
        <div class="space"></div>
        <mat-card-content class="table">
          <table class="details-table">
            <thead>
              <tr>
                <th class="table-heading">Fields</th>
                <th class="table-heading">Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of getAdditionalDetails()">
                <td class="field-name">{{ detail.field }}:</td>
                <td class="field-value">
                  <ng-container *ngIf="isImage(detail.value); else textTemplate">
                    <img [src]="detail.value" alt="{{ detail.field }}" style="width: 200px;" />
                  </ng-container>
                  <ng-template #textTemplate>{{ detail.value }}</ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <div class="space"></div>
    <div class="space"></div>
    <div class="center-buttons">
      <button mat-button matStepperPrevious class="blue-button">Back</button>
      <button mat-button (click)="stepper.reset()" class="blue-button">Reset</button>
      <button mat-button class="blue-button" (click)="onSubmit()">Submit</button>
    </div>
    </mat-step>
  </mat-stepper>
</div>

<app-footer></app-footer>
