.full-screen{
  overflow: hidden; 
  height: 100vh; /* Use full viewport height */
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Use full viewport height */
  padding: 20px;
}

mat-card {
  width: 100%; /* Take full width */
  max-width: 800px; /* Limit max width if needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure form takes full width */
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%; /* Ensure form fields take full width */
}

.mat-select {
  width: 100%; /* Ensure the mat-select takes the full width */
}

.mat-error {
  font-size: 12px; /* Custom font size for error message */
  color: #f44336; /* Custom color for error message */
}

input.mat-input-element {
  width: 100%; /* Ensure input fields take full width */
  max-width: 60px; /* Adjust max-width of input fields */
}


.centered-subtitle {
  text-align: center;
  display: block; /* Ensures it takes up the full width */
  width: 100%; /* Ensures the block takes up the full width */
  font-size:larger;
}

::ng-deep mat-card-title {
  background-color: rgb(0, 138, 184);
  color: white;
  padding: 10px; /* Optional: to add some padding around the text */
  width: 100%;
}

.name{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.progress{
  margin-top: 20px;
  margin-bottom: -70px;
}

.space{
  padding: 5px;
}

.address {
  width: 100%;
}

::ng-deep .blue-button {
  background-color: rgb(0, 138, 184) !important;
  color: white !important; /* Ensures the text is readable against the blue background */
}
::ng-deep .blue-button:hover {
  background-color: darkblue !important; /* Optional: A darker blue for the hover state */
}

/* .name-form-field {
  width: 500px;
} */
/* .responsive-form-field {
  width: 500px;
}
@media (max-width: 768px) {
  .responsive-form-field {
      width: 100%; 
  }
} */