<!-- <div class="dash-container">
        <div class="dash-header">
                <h1>Welcome Super Admin</h1>
        </div>
        <div class="dash-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius, fugiat obcaecati aperiam tempora eveniet est dolor dignissimos alias reiciendis incidunt nobis inventore, pariatur voluptatibus? Voluptatibus tempore vitae obcaecati! Necessitatibus sapiente ex architecto quas et nam, reprehenderit, quidem consequuntur distinctio qui delectus fugit nemo. Consectetur officiis distinctio nam soluta amet.
        </div>
</div> -->
<header>
        <nav>
          <button (click)="navigateToRegister()">Register</button>
          <button (click)="navigateToUpdate()">Update</button>
          <button (click)="navigateToDelete()">Delete</button>
        </nav>
      </header>
      <div class="dash-container">
        <div class="dash-header">
                <h1>Welcome Super Admin</h1>
        </div>
        <div class="dash-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius, fugiat obcaecati aperiam tempora eveniet est dolor dignissimos alias reiciendis incidunt nobis inventore, pariatur voluptatibus? Voluptatibus tempore vitae obcaecati! Necessitatibus sapiente ex architecto quas et nam, reprehenderit, quidem consequuntur distinctio qui delectus fugit nemo. Consectetur officiis distinctio nam soluta amet.
        </div>
    </div>