<div class="entire-home">
        <header>
                <app-header></app-header>
        </header>
        <div class="home-container">
                
                <div class="centered-text">
                        <h1>Welcome to Rajya Sainik Board</h1>
                        <div class="inside-content">
                                The Rajya Sainik Board, Delhi has been established to promote welfare and  resettlement of ex-servicemen, war widows disabled ex-servicemen and  families of defence personnel belonging to the State.
                                <br>
                                Processing Second World War Veteran Pension applications, issuing ex- servicemen Identity Cards, rendering employment assistance to ex-servicemen,war widows/disabled ex-servicemen and to the members of the families of deceased Defence Service personnel are the main functions of these Boards.
                        </div>
                </div>
                
        </div>
        <footer>
                <app-footer></app-footer>
        </footer>
</div>