<div class="home-container">
        <div class="centered-text">
                <h1>Rajya Sainik</h1>
                <p>This is the HomeComponent</p>
                <div class="inside-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illo autem ad commodi veniam quod nemo rem cupiditate expedita culpa nihil esse vero molestias ratione placeat consequuntur dicta ex officia, aperiam sequi porro blanditiis ducimus quibusdam! Praesentium delectus quas iure incidunt similique, asperiores velit consequuntur, enim amet vero doloribus quis?
                </div>
        </div>
        
</div>

