<div class="entire-home">
        <header>
                <app-header></app-header>
        </header>
        <div class="home-container">
                
                <div class="centered-text">
                        <h1>Welcome to Rajya Sainik Board</h1>
                        <div class="inside-content">
                                The Rajya Sainik Board, Delhi has been established to promote welfare and  resettlement of ex-servicemen, war widows disabled ex-servicemen and  families of defence personnel belonging to the State.
                                <br>
                                Processing Second World War Veteran Pension applications, issuing ex- servicemen Identity Cards, rendering employment assistance to ex-servicemen,war widows/disabled ex-servicemen and to the members of the families of deceased Defence Service personnel are the main functions of these Boards.
                        </div>
                </div>
                <div class="space"></div>
                <div class="two-column">
                        <div class="centered-text2">
                                <h2>Rajya Sainik Board Section 1</h2>
                                <div class="inside-content2">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur repellat quaerat debitis nisi officiis aut, inventore laborum rem, ratione asperiores maiores? Vel porro inventore odit veniam placeat praesentium molestiae cupiditate? Repudiandae laboriosam inventore sequi, tenetur, consequuntur quas eveniet ea, animi rem recusandae iste. Reiciendis quos praesentium laudantium fugiat magnam iste sapiente provident nulla unde mollitia, veniam nihil animi ab dolore vitae? Itaque dolore laudantium recusandae numquam dicta commodi temporibus magnam consectetur incidunt repellat maxime, molestiae quibusdam aspernatur nihil corrupti minus, sunt obcaecati, ratione animi laboriosam! Odit nihil impedit officia ipsa tempore labore neque, sed minima pariatur minus, dolorem molestias accusantium.
                                </div>
                        </div>
                        <div class="space"></div>
                        <div class="centered-text2">
                                <h2>Rajya Sainik Board Section 2</h2>
                                <div class="inside-content2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus natus quo, labore voluptate culpa tempore!
                                </div>
                        </div>
                </div>
                
        </div>
        <footer>
                <app-footer></app-footer>
        </footer>
</div>