header {
  padding: 10px;
  background: rgb(200, 199, 199);
  /* position: fixed; */
  /* z-index: 1000;
  width: 100%; */
}
.logo {
  width: 100px;
}
.logo:hover {
  cursor: pointer;
}
.desktop_menu {
  margin-top: 24px;
}
.desktop_menu ul {
  
  padding: 0;
  margin: 0;
}
.desktop_menu ul li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 18px;
  margin-left: 26px;
}
.desktop_menu ul li a {
  text-decoration: none; /* Remove underline from links */
  color: rgb(0, 0, 0); /* Set link color */
}
.desktop_menu ul li a:hover {
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 6, 241);
  transition: 0.2s ease-in-out;
}
.menu-icon {
  display: none;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    position: fixed !important;
    right: -280px;
    transition: 0.4s ease-in-out;
    top: 64px;
    background: rgb(123, 123, 123);
    width: 280px;
    height: 100%;
    z-index: 1000;
  }
  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }
  .menu-icon {
    display: block;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    z-index: 1001;
  }
  .mobile_menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
