/* src/app/header/header.component.css */
header {
  padding: 2px;
  background: #b4cbf0;
  z-index: 1000;
  backdrop-filter: blur(20px);
  position: relative; 
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 90px;
}

.logo-text {
  font-size: 12px;
  text-align: center;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.logo:hover  {
  cursor: pointer;
}

.btn {
  list-style-type: none;
  color: rgb(0, 0, 0); 
  cursor: pointer;
  font-size: 22px;
}

.btn:hover {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 6, 241);
  transition: 0.2s ease-in-out;
}

.btn.active {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 6, 241);
}

.icon{
  font-size: 30px;
  /* vertical-align: middle; */
}

.desktop_menu {
  /* margin-top: 24px; */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
}

.desktop_menu ul li {
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin-left: 26px;
}

.desktop_menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.desktop_menu ul li a:hover {
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(18, 6, 241);
  transition: 0.2s ease-in-out;
}

.menu-icon {
  display: none;
}

.mobile_menu {
  display: none;
  position: absolute; /* Ensure the menu is positioned relative to the header */
  top: 125px; /* Adjust this value based on your header height */
  left: 0;
  width: 100%;
  background: white;
  z-index: 1001;
  text-align: center;
  padding: 10px 0;
}

.mobile_menu.show {
  display: block;
}

.mobile_menu ul {
  padding: 0;
  margin: 0;
}

.mobile_menu ul li {
  list-style-type: none;
  color: black;
  font-size: 18px;
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  .desktop_menu {
    display: none;
  }

  .menu-icon {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding-top: 10px;
    z-index: 1005;
  }

  .logo-text {
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
  }

  /* .logo-text2 {
    width: 110px;
  } */

  .logo-img {
    max-height: 80px;
  }
}

