<mat-card>
  <mat-card-header>
    <mat-card-title>Profile Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-table">
      <div class="profile-row" *ngFor="let data of dataSource.data">
        <div class="profile-label">Email:  {{ data.email }}</div>
        
      </div>
    
        
       
     
      <div class="profile-row" *ngFor="let data of dataSource.data">
        <div class="profile-label">Role: {{ getRoleName(data.role) }}</div>
        
      </div>
      <div class="profile-row" *ngFor="let data of dataSource.data">
        <div class="profile-label">District:  {{ getDistrictName(data.district) }}</div>
        
      </div>
      <button mat-button color="primary" (click)="openChangePasswordDialog()">Change Password</button>
    </div>
  </mat-card-content>
</mat-card>